{% extends 'management/base.html' %}
{% load static %}
{% block title %}Actively|forget-password{% endblock %}
{% block content %}
{% load crispy_forms_tags %}



<div class="dashboard dark-theme">
    <div class="main-content mw-100">
        <section class="centered-content h-100">
            <div class="row m-0 align-items-center h-100">
                <div class="col-12 col-lg-5 mx-auto">
                    {% if messages %}
                    {% for message in messages %}
                    <div class='alert alert-info'>
                        {{message}}
                
                    </div>
                    {% endfor %}
                    {% endif %}
                    <h4 class="text-center mb-4">Actively Black</h4>
                    <div class="login border-0 card py-5 px-4">
                        <div class="text-center mb-3">
                            <h5>Reset Password</h5>
                            <p>Enter your email to reset your password</p>
                        </div>
                        <form class="login-form" method="post" novalidate>
                            {% csrf_token %}
                            <div class="form-group">
                               <!-- <input placeholder="Email Address" class="form-control bg-transparent" name="email" /> -->
                               {{form.email|as_crispy_field}}
                            </div>
                            <button class="btn btn-primary w-100 border-0" type="submit">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="content-footer bg-light py-3"></div>
    </div>
</div>

{% endblock %}






